@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@layer components {
  .wrapper-container {
    @apply w-[100%] ss:max-w-[360px] xs:max-w-[375px] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px];
  }

  .btn-primary {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .btn-secondary {
    @apply inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3;
  }

  .btn-tertiary {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-gray-300 hover:bg-gray-200 focus:ring-gray-300 active:bg-gray-400 text-gray-800 rounded-lg focus:ring-4 focus:outline-none;
  }
  .box {
    @apply max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
  }
  .grid-box-2 {
    @apply grid grid-cols-2 gap-4;
  }
  .grid-box-3 {
    @apply grid grid-cols-2 md:grid-cols-3 gap-4;
  }
  .grid-box-4 {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }
  .grid-box-6 {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-4;
  }
  .h5 {
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
  }
  .button-with-icon {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .p {
    @apply mb-3 font-normal text-gray-700 dark:text-gray-400;
  }
  .img {
    @apply rounded-t-lg;
  }

  .box-list {
    @apply relative w-full max-w-sm overflow-y-scroll bg-white border border-gray-100 rounded-lg dark:bg-gray-700 dark:border-gray-600 h-96;
  }
  .border-list {
    @apply border-b border:gray-100 dark:border-gray-600;
  }
  .frame-list {
    @apply flex items-center justify-center w-full px-4 py-3 hover:bg-gray-50 dark:hover:bg-gray-800;
  }
  .img-list {
    @apply me-3 rounded-full w-11 h-11;
  }

  .box-table {
    @apply relative overflow-x-auto shadow-md sm:rounded-lg;
  }
  .container-table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
  }
  .header-table {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
  }
  .header-title-table {
    @apply px-6 py-3;
  }
  .button-dropDown {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .section {
    @apply flex md:flex-row flex-col sm:py-16 py-6;
  }
  .sectionReverse {
    @apply flex md:flex-row flex-col-reverse sm:py-16 py-6;
  }
  .sectionImg {
    @apply flex-1 flex justify-center items-center md:ml-10 ml-0 md:mt-0 mt-10 relative;
  }
  .sectionImgReverse {
    @apply flex-1 flex justify-center items-center md:mr-10 mr-0 md:mt-0 mt-10 relative;
  }
  .sectionInfo {
    @apply flex-1 flex justify-center items-start flex-col;
  }

  .heading {
    @apply font-semibold xs:text-[48px] text-[40px] text-white xs:leading-[76.8px] leading-[66.8px] w-full;
  }

  .paragraph {
    @apply font-poppins font-normal text-dimWhite text-[18px] leading-[30.8px];
  }
  .paddingX {
    @apply sm:px-16 px-6;
  }
  .paddingY {
    @apply sm:py-16 py-6;
  }

  .padding {
    @apply sm:px-16 px-6 sm:py-12 py-4;
  }

  /* //==============={nft marketplace styles}============= */
  /* //==============={nft marketplace styles}============= */
  .input {
    @apply py-2 px-2 w-full text-gray-700 appearance-none rounded-lg disabled:bg-gray-300 dark:bg-transparent dark:disabled:bg-gray-600 dark:disabled:text-gray-300 dark:text-white dark:border-[1px] dark:border-gray-300 focus:outline-none focus:ring-0
        /* @apply py-2 px-2 w-full text-gray-700 appearance-none rounded-lg shadow-inner-dark disabled:bg-gray-300 dark:bg-transparent dark:disabled:bg-gray-600 dark:disabled:text-gray-300 dark:text-white dark:border-[1px] dark:border-gray-300 dark:focus:border-none focus:outline-none focus:ring-0 focus:shadow-inner-blue */;
  }

  .input-group-custom {
    @apply px-2 py-1 flex flex-col gap-2 bg-gray-100 rounded-md border border-gray-300 focus-within:border-rose-600 dark:bg-transparent dark:border-gray-600 dark:focus-within:border-gray-300;
  }

  .input-label {
    @apply text-sm text-gray-600 dark:text-gray-100 focus-within:text-rose-600;
  }

  /* .input-custom {
    @apply bg-transparent font-sans focus:outline-none selection:bg-gray-900 dark:selection:bg-gray-900 selection:text-gray-200 dark:selection:text-gray-200 text-gray-100 dark:text-gray-100 dark:placeholder:text-neutral-500 dark:focus-within:text-gray-600
} */

  .input-custom {
    @apply bg-transparent font-sans focus:outline-none selection:bg-gray-900 dark:selection:bg-gray-900 selection:text-gray-200 dark:selection:text-gray-200 text-gray-900 dark:text-gray-100 dark:placeholder:text-neutral-500 text-[16px] xl:text-[14px];
  }

  .input-group-slim {
    @apply px-2 py-1 h-fit flex flex-row gap-2 items-center bg-gray-100 rounded-md border border-gray-300 focus-within:border-rose-600 dark:bg-transparent dark:border-gray-600 dark:focus-within:border-gray-300;
  }

  .input-group-variant {
    @apply px-2 py-2 h-fit flex flex-row gap-2 items-center border-b border-gray-300 focus-within:border-gray-400 dark:bg-transparent dark:border-gray-600 dark:focus-within:border-gray-300;
  }

  /* //==============={peters custom styles}============= */
  .card-gradient {
    @apply bg-gradient-to-r from-blue-200 to-purple-200  dark:from-blue-500 dark:to-purple-500 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-app-container {
    @apply bg-gradient-to-r from-violet-300 to-indigo-300  dark:from-blue-500 dark:to-purple-500 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-app-price {
    @apply bg-gradient-to-r from-violet-300 to-indigo-300  dark:from-blue-600 dark:to-purple-600 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-reverse {
    @apply bg-gradient-to-r to-blue-200 from-purple-200  dark:to-blue-500 dark:from-purple-500 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-gold {
    @apply bg-gradient-to-r from-amber-500 to-pink-400  dark:from-amber-200 dark:to-yellow-500 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-violet {
    @apply bg-gradient-to-r from-violet-600 to-indigo-600  dark:from-violet-600 dark:to-indigo-600 items-center justify-center rounded-lg p-[1px] w-fit shadow-md;
  }
  .card-gradient-box {
    @apply flex flex-col bg-white dark:bg-app-container-dark items-center justify-center rounded-lg w-[320px] xs:w-[340px] md:w-[500px] outline outline-lightslategray-300 outline-[1px];
  }
  .button-gradient {
    @apply cursor-pointer flex flex-row justify-center items-center w-full bg-gradient-to-r from-blue-500 to-purple-500 font-semibold hover:opacity-90 text-white py-4 shrink-0 rounded;
  }
  .title-gradient {
    @apply cursor-pointer leading-[24px] inline-block text-[24px] text-darkslategray-200 dark:text-blue-300;
  }
  .close-gradient {
    @apply transition-transform duration-300 hover:scale-125 cursor-pointer text-gray-900 dark:text-blue-400;
  }
  .chat-box-gradient-admin {
    @apply bg-gradient-to-r from-violet-300 to-indigo-500  dark:from-blue-500 dark:to-purple-500 items-center justify-center rounded-lg p-[2px] dark:p-[1px] w-fit shadow-md;
  }
  .chat-box-gradient-user {
    @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%  dark:from-amber-200 dark:to-yellow-500 items-center justify-center rounded-lg p-[2px] dark:p-[1px] w-fit shadow-md;
  }
  /* //==============={peters text custom styles}============= */
  .input-header {
    @apply text-[18px] xl:text-[32px];
  }
  .input-sub-header {
    @apply font-medium text-[18px] xl:text-[32px];
  }
  .input-paragraph {
    @apply transition-transform duration-300 hover:scale-125 cursor-pointer text-gray-900 dark:text-blue-400;
  }
  .input-token-container {
    @apply text-[16px] xl:text-[20px];
  }
  .input-icon {
    @apply text-[18px] xl:text-[24px];
  }
  .input-title {
    @apply text-[12px] xl:text-[16px];
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #7dd3fc -43.27%,
    #38bdf8 -21.24%,
    #3b82f6 12.19%,
    #2563eb 29.82%,
    #4338ca 51.94%,
    #3730a3 90.29%
  );
}

